$font: 'Montserrat', sans-serif;

#root {
    max-width: 1280px;

    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.read-the-docs {
    color: #888;
}

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1rem;
        .logo {
            height: 3em;
            width: auto;
            padding: 0;
        }
        nav {
            width: 50%;
            .nav-list {
                list-style: none;
                display: flex;
                padding: 0;
                justify-content: space-around;
                li a {
                    text-decoration: none;
                    font-family: $font;
                    font-size: 15px;
                    font-weight: 550;
                    letter-spacing: -0.5px;
                    color: black;
                }
            }
        }
    }

    .footer {
        background-color: black;
        height: 210px;
        margin-top: 30px;
        .logo-footer {
            padding-top: 50px;
        }
        p {
            padding-top: 20px;
            margin: 0 auto;
            width: 35%;
            color: white;
            font-family: $font;
            font-size: 0.8rem;
            letter-spacing: 0.5px;
        }
    }
}
