.banner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 91%;
    height: 120px;

    border-radius: 15px;
    filter: brightness(30%);
}
.banner-content {
    h1 {
        position: absolute;
        top: 110px;
        left: 45px;
        margin-right: auto;
        width: 70%;
        color: white;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        white-space: nowrap; // Empêcher les sauts de ligne
        text-align: left;
    }
}

@media screen and (max-width: 1030px) {
    .banner {
        height: 80px;
        width: 95%;
        border-radius: 8px;
    }
}
