.carousel {
    position: relative;
    width: 91%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;

    .carousel-image {
        width: 100%;
        border-radius: 10px;
        height: 250px;
        object-fit: cover;
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        color: white;
        font-size: 2em;
        cursor: pointer;
        padding: 0 10px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 5px;

        .indicator {
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            opacity: 0.5;
            transition: opacity 0.3s;
        }

        .indicator.active {
            opacity: 1;
        }
    }
}
