$color: #ff6060;
$font: 'Montserrat', sans-serif;

.collapse-container {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;

    .collapse-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: $color;
        border-radius: 5px;

        .collapse-text {
            margin: 0;
            color: white;
            font-family: $font;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .collapse-button {
            background: none;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease;

            &.rotated {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        border-top: 1px solid #ddd;
        border-radius: 0;

        &.expanded {
            max-height: 200px;
        }

        .content {
            background-color: rgba(246, 246, 246, 0.45);
            color: black;
            padding: 10px;

            .collapse-item {
                display: flex;
                justify-content: left;
                text-align: left;
                font-family: $font;
                margin: 2px 0;
            }
        }
    }
}
@media screen and (max-width: 1030px) {
    .collapse-container {
        .collapse-header {
            height: 10px;
            .collapse-icon {
                height: 7px;
                width: 7px;
            }
            .collapse-text {
                font-size: 8px;
            }
        }
        .collapse-content {
            .collapse-item {
                font-size: 7px;
            }
        }
    }
}
@media screen and (min-width: 1031px) {
}
