.collapse-container {
    margin: 20px 0;
    border-radius: 5px;
    background-color: #ff6060;
    overflow: hidden;

    .collapse-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #ff6060;

        .collapse-text {
            margin: 0;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .collapse-button {
            background: none;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease;

            &.rotated {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        max-height: 0;
        border: none;
        border-radius: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;

        &.expanded {
            max-height: 200px;
        }
        .content {
            background-color: #f0f0f5; /* Changez cette couleur pour différencier le menu */
            color: black;
            padding: 10px;
            border: none;
            border-radius: 0;
            p {
                margin: 0;
            }
        }
    }
}
