$font: 'Montserrat', sans-serif;
$color: #ff6060;

.loading-datas {
    width: 91%;
    margin: 0 auto;
    .donnees {
        font-family: $font;
        color: $color;
        h2 {
            margin-bottom: 0;
            text-align: left;
            display: flex;
            width: 70%;
            font-size: 22px;
            font-weight: 400;
        }
        h3 {
            margin-top: 10px;
            color: black;
            display: flex;
            font-size: 16px;
            font-weight: 400;
        }
        .tag {
            display: flex;

            span {
                padding-bottom: 7px;
                padding-top: 2px;
                margin-right: 10px;
                width: 25%;
                height: 7px;
                color: white;
                font-size: 8px;
                background-color: $color;
                font-weight: 700;
                letter-spacing: 0.2px;
                border-radius: 5px;
            }
        }
        .note {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .rating {
                display: flex;
                align-items: center;
                width: 50%;
            }
            .star {
                width: 15px;
                height: 15px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 8px;
            }

            .host {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 35%;
                .avatar {
                    border-radius: 50%;
                    height: auto;
                    width: 35%;
                }
                .host-name {
                    font-size: 14px;
                    margin-right: 10px;
                    line-height: 1.5;
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .loading-datas {
        .donnees {
            .titres {
                h2 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 30px;
                }
                .tag {
                    span {
                        height: 20px;
                        width: 20%;
                        font-size: 15px;
                        padding-bottom: 2px;
                    }
                }
            }

            .note {
                .rating {
                    .star {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }
                .host {
                    .host-name {
                        font-size: 30px;
                    }
                    .avatar {
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .loading-datas {
        .donnees {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .titres {
                width: 50%;
                h2 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 20px;
                }
                .tag {
                    margin-top: 30px;
                    span {
                        border-radius: 8px;
                        height: 20px;
                        width: 20%;
                        font-size: 12px;
                        padding-bottom: 0;
                    }
                }
            }

            .note {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
                width: 50%;
                .rating {
                    width: 35%;
                    .star {
                        width: 23px;
                        height: 23px;
                        margin-left: 10px;
                    }
                }
                .host {
                    .host-name {
                        font-size: 28px;
                    }
                    .avatar {
                        width: 40%;
                    }
                }
            }
        }
    }
}
